:root {
    --cyan-3: #67e8f9;
    --cyan-2: #a5f3fc;
    --cyan-1: #cffafe;
    --cyan-0: #ecfeff;
    --yellow-2: #fef08a;
    --yellow-1: #fef9c3;
    --slate-95: #020617;
    --slate-8: #1e293b;
    --slate-6: #475569;
    --slate-5: #64748b;
    --blue-8: #1e40af;
    --blue-1: #dbeafe;
    --mdn-blue-background: #8cb4ff70;
    --mdn-blue: #8cb4ff;
    font-family: sans-serif;
}
@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto-Regular.ttf) format('truetype');
    font-style: italic;
}
@font-face {
    font-family: 'Roboto-italic';
    src: url(./fonts/Roboto-Italic.ttf);
}

html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: var(--slate-95);
    width: 100%;
    position: fixed;
    height: 5rem;
    top: 0;
}

.header > div {
    display: flex;
    justify-content: center;
}
.header > div > a >  button {
    background-color: var(--slate-6);
    width: 8rem;
    height: 3rem;
    border-radius: 1.5rem;
    margin-top: 1.2rem;
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 1.2rem;
    border: 0;
    color: white;
}
.header > div > a> button:hover {
    background-color: var(--mdn-blue-background);
    color: var(--mdn-blue);
}
.header-div > a {
    color: inherit;
    text-decoration: none;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr clamp(15rem, 45rem, 1200px) 1fr;
    background-color: var(--slate-6);
    min-height: 4000px;
}

.center-content {
    grid-column: 2/3;
    background-color: var(--cyan-0);
    display: grid;
    /* grid-template-rows: repeat(auto-fit, auto); */
    grid-template-rows: 3rem 26rem 1px 3rem 28rem 1px 3rem auto 1px 3rem auto;
    gap: 20px;
    overflow: hidden;
    margin-top: 5rem;
    padding: 3rem;
}
.divider {
    box-sizing: border-box;
    border: 1px solid black;
}
.name-and-pic {
    display: grid;
    grid-template-columns: 40% 60%;
}
.about-me {
}
.pic-of-me {
    display: flex;
    justify-content: center;
}
.pic-of-me > img {
    width: 80%;
    box-shadow: 3px 2px 2px black;
    aspect-ratio: 1 / 1;
}
.section-header {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Roboto-italic';
    font-size: 2rem;
    padding-top: 100px;
    margin-top: -90px;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fit,15rem);
    gap: 1rem;
}
.project {
    box-sizing: border-box;
    padding: 1rem;
    border: 2px solid var(--slate-8);
    border-radius: 2rem;
    box-shadow: 2px 2px 2px var(--slate-6);
    display: grid;
    grid-template-rows: 2rem 1fr;
    scroll-behavior: auto;
    /* overflow-y: scroll; */
}
.project > div >  a {
    color: inherit;
}
.project > .project-name {
    font-size: 1rem;
}
.project-description {

}
.footer {
    background-color: var(--slate-95);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
}

.contact-section {
     font-size: 1.6rem;
}
.contact-section > div {
    display: flex;
    justify-content: left;
}
.contact-section > div > a {
    color: black;
}



@media (max-width: 680px){
    .main-container {
        grid-template-columns: 1fr;
    }
    .center-content {
        grid-column: 1/2;
        grid-template-rows: 5rem 40rem 1px 3rem 65rem 1px 3rem auto 1px 3rem auto;
        overflow: wrap;

    }
    .name-and-pic {
        grid-template-columns: 1fr;
        width: 100%;
    }
    .projects {
        grid-template-columns: 1fr;
    }
    .header > div > a >  button {
        font-size: 1rem;
        width: 5rem;
    }
    .pic-of-me {
        width: 90%;
        height: 90%;
    }


}